.app-main {
  display: flex;
}

.router {
  margin-top: 115px;
  display: flex;
  width: 200vh;
}

.weather {
  margin-top: 115px;
  display: flex;
  width: 200vh;
}

.weatherdisplay {
  margin-top: 205px;
  display: flex;
  width: 200vh;

}
