<nav class="nav">
  <h3 class="navtopic">PBA</h3>

  <button type="button" class="btn btn-main" routerLink="/">Główna</button>
  <button type="button" class="btn btn-forecast" routerLink="./forecast">Prognozy</button>
  <button type="button" class="btn btn-getjump" routerLink="./getjump">Zamów Skok</button>
  <button type="button" class="btn btn-jumps">Nasze loty</button>
  <button type="button" class="btn btn-req">Wymagania</button>
  <button type="button" class="btn btn-info">O Nas</button>
  <button type="button" class="btn btn-contact">Kontakt</button>

</nav>
