<nav class="nav">
<h3>PBA</h3>

<!--  <a routerLink="/">TUTAJ LECISZ</a>-->
<!--  <a routerLink="./getjump">TUTAJ LECISZ</a>-->
<!--  <a routerLink="./ourjumps">NASZE SKOKI</a>-->

<button type="button" class="btn btn-main" routerLink="/">Główna</button>
<button type="button" class="btn btn-getjump" routerLink="./getjump">Zamów Skok</button>
<button type="button" class="btn btn-jumps">Nasze loty</button>
<button type="button" class="btn btn-req">Wymagania</button>
<button type="button" class="btn btn-info">O Nas</button>
<button type="button" class="btn btn-contact">Kontakt</button>

</nav>
